<ion-view title="Search" ng-controller="SearchCtrl">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content>
      <h1 class="searcher">Search</h1>
      <form ng-submit="submit()">
          Date:
          <select ng-model="new_query" >
            <option selected>Today</option>
            <option>Tomorrow</option>
          </select>
          <input style="display:none;" name="input" ng-model="new_query"/>
          <input type="submit" id="submit" value="Submit" />

          <p>new_query = {{new_query}}</p><br>
      </form>


      <div class="list">

        <label class="item item-input item-select">
          <!-- <div class="input-label">
            When?
          </div> -->
          <!-- <select>
            <option selected>Today</option>
            <option>Tomorrow</option>

          </select> -->
        </label>

      </div>

      <ion-list>
          <div ng-repeat="cat in lol">
            <ion-item class="item-stable"
                      ng-click="toggleGroup(cat)"
                      ng-class="{active: isGroupShown(cat)}">
                <i class="icon" ng-class="isGroupShown(cat) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              {{cat.name}}
            </ion-item>
            <ion-item class="item-accordion"
                      ng-repeat="listing in cat.res"
                      ng-show="isGroupShown(cat)">

                          <p>{{listing.event_name}}</p>
                          <div ng-bind-html="listing.web_description"></div>

            </ion-item>
          </div>
      </ion-list>

    </ion-content>
</ion-view>
