<ion-view title="Search" ng-controller="SearchCtrl">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content>
      <h3 style="padding-top:15px;">Search for events</h3>
      <form ng-submit="submit()">

          <input style="display:none;" name="input" ng-model="date_start"/>
          <input style="display:none;" name="input" ng-model="date_end"/>

          <label class="item item-input">
              <span class="input-label">Start Date</span>
              <input ng-model="date_start" type="date"/>
          </label>
          <label class="item item-input">
              <span class="input-label">Start Date</span>
              <input ng-model="date_end" type="date"/>
          </label>
          <button class="button button-block button-positive" type="submit" id="submit" value="Submit">Submit</button>
      </form>

      </div>

      <ion-list>
          <div ng-repeat="cat in lol">
            <ion-item class="item-stable"
                      ng-click="toggleGroup(cat)"
                      ng-class="{active: isGroupShown(cat)}">
                <i class="icon" ng-class="isGroupShown(cat) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              {{cat.name}}
            </ion-item>
            <ion-item class="item-accordion"
                      ng-repeat="listing in cat.res"
                      ng-show="isGroupShown(cat)">

                          <p>{{listing.event_name}}</p>
                          <div ng-bind-html="listing.web_description"></div>

            </ion-item>
          </div>
      </ion-list>

    </ion-content>
</ion-view>
