<ion-view title="Search" ng-controller="SearchCtrl">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content>
      <h3 class="title" style="text-align:center;margin-top: 9px;">Find an event</h3>
      <form ng-submit="submit()">

          <input style="display:none;" name="input" ng-model="date_start"/>
          <input style="display:none;" name="input" ng-model="date_end"/>

          <label class="item item-input">
              <span class="input-label">Start Date</span>
              <input ng-model="date_start" type="date"/>
          </label>
          <label class="item item-input">
              <span class="input-label">Start Date</span>
              <input ng-model="date_end" type="date"/>
          </label>
          <div class="padding">
              <button class="button button-block button-positive margin-default" style="margin-top:15px;" type="submit" id="submit" value="Submit">Submit</button>
          </div>
      </form>

      </div>

      <ion-list>
          <div ng-repeat="cat in lol">
            <ion-item class="item-stable"
                      ng-click="toggleGroup(cat)"
                      ng-class="{active: isGroupShown(cat)}">
                <i class="icon" ng-class="isGroupShown(cat) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              {{cat.name}}
            </ion-item>
            <ion-item class="item-accordion"
                      ng-repeat="listing in cat.res"
                      ng-show="isGroupShown(cat)">

                          <p><a href="{{listing.event_detail_url}}">{{listing.event_name}}</a></p>
                          <div ng-bind-html="listing.web_description"></div>
                          <p>times pick: {{listing.times_pick}}</p>
                          <p>free: {{listing.free}}</p>
                          <p>kids: {{listing.kid_friendly}}</p>
                          <p>Days: {{listing.recur_days}}</p>


            </ion-item>
          </div>
      </ion-list>

    </ion-content>
</ion-view>
